$mobile: 412px;
$tablet: 768px;
$desktop: 960px;

@mixin mobile {
  //like a var
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

* {
  margin: 0;
}

.skillsGrid {
  display: grid;
  justify-content: space-around;
  width: 70%;

  @include mobile {
    grid-template-columns: repeat(3, 1fr);
  }

  @include tablet{
    grid-template-columns: repeat(4,1fr);
  }

  @include desktop {
    grid-template-columns: repeat(9, 1fr);
    width: 1000px; //## uhh not really working  //check now
  }
}

.projectsGrid {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .projectCard {
    margin: 1rem;
    //border: 1px dotted blue; //test border
  }

  &__picture {
    border-radius: 7%;
    width: 80%;
  }

  &__button {
    border: 1.5px solid black;
    background-color: white;
    border-radius: 10%;
    margin-right: 10px;
  }

  &__projectButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around; //##desktop mode, needs a bit more hardcoding tbh
  }
}

.cardInfo {       //##not tested yet, potentially requires width
  display: flex;
  justify-content: left;
  width: 80%;
  //align-self: flex-start;
  align-items: start;
}

.projectCard h4 {
  //lang or framework
  font-size: 0.95rem;
  margin-top: 0.3rem;
  text-align: left;
  //align-self: flex-start;
}

.projectCard h3 {
  //proj name
  text-align: left;
  font-size: 1.5rem;
 // align-self: flex-start;
}

.projectCard p {
  margin: 3%  7% 3% 0%; // up right down left
}

main div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p, p, div {
  font-size: 0.8rem;

  &--bold {
    font-weight: 600;
  }
}

html {
  font-family: Inter, sans-serif;
  scroll-behavior: smooth;
}

nav {
  align-items: center; //vertical
  display: flex;
  justify-content: end; //horizontal
  position: sticky; //##doesnt work
  top:0;

  background-color: whitesmoke;
  opacity: 80%;
  height: 30px;

  @include mobile {
    display: none;
  }
}

nav a {
    margin-inline: 5px;
}


main {
  margin: 12px;
}

h1 {
  font-size: 3rem;
}

h2 {
  text-align: center;
  margin: 1rem 0rem 1rem 0rem ;
}

.aboutMe {
  @include tablet {
    flex-direction: row;
  }

}

#ihsan-pic {
  width: 200px;
  // margin-top: 1rem;
  border-radius: 10%;

  @include tablet {
    margin-inline: 3vw;
  }

  @include desktop {
    margin-inline: 5vw;
  }

}

.aboutMe p {
   margin: 4% 3% 4% 3%; 
}

.icon {
  width: 72px;
  margin: 1rem;

  &__footer {
    border-radius: 50%;
    overflow: hidden; //can keep it png and round via bg coloring
    width: 40px;
    margin: 0.5rem;
  }
}

.footer-icons {
  //change to footer
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
}

main p {
  margin: 3%  7% 3% 7%; // up right down left
}


#skills p {
   margin: 1%  0% 1% 0%; // up right down left
}

footer {
  background-color: black;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

footer p {
  color: white;
  //text-align: right; //allegedly useless
}
